%h2= t @axis_name

.span-18.last
  - @teas.keys.sort.reverse!.each do |xpos|
    .span-18.last.show-tea-block
      %div= render :partial => "teas_group", :locals => {:teas => @teas[xpos]}
    .clearfix
.clearfix
