- pics = tea.tea_pictures.all
- pic = pics.first
- if pic
  .big_tea_picture
    = link_to pic do
      = image_tag pic.picture.url(:big)
  - pics[1..pics.length].each do |pic|
    .medium_tea_picture
      = link_to pic do
        = image_tag pic.picture.url(:medium)
